@tailwind base;
@tailwind components;
@tailwind utilities;



b{
    color: black;
    font-weight: bold;
}

#input-light{
    box-shadow: 0px 2px 2px black;
}
#input-dark{
    box-shadow: 0 2px 2px white;
    color: white;
}
.heading-light{
    text-shadow: 1px 10px 10px rgb(0, 0, 0);
    color: black;
}
.heading-dark{
    text-shadow: 1px 10px 10px rgb(255, 255, 255);
    color: white;
}